.env
.env.*
!.env.example
node_modules
npm-debug.log
apps/api/dist
packages/db/dist
packages/types/dist
packages/utils/dist
.turbo
.DS_Store
firebase-service-account.json
apps/api/firebase-service-account.json
